* {
    /* border: 2px dotted red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: orange;
}

h1 {
    color: orange;
    font-style: italic;
}

button {
    border: none;
    background-color: orange;
    color: black;
    border-radius: 6px;
}

.sticky-sidebar {
    position: fixed;
    top: -90px;
    right: 0;
    height: calc(100vh + 90px);
    width: 200px;
    background-color: blanchedalmond;
    padding: 0 28px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

#clickme {
    background-color: darkorange;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 70px;
}

#clickme:hover {
    background-color: orange;
    border: 1px solid black;
}

.sidebar-text {
    text-align: center;
    margin: 5px 0;
}

.sidebar-number {
    font-size: 36px;
}

.sidebar-total {
    background-image: url("images/bag-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    width: 103px;
    padding-top: 50px;
    color: orange;
}

.sidebar-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
}

.main-content-box {
    padding-right: 200px;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: darkorange;

}

.restaurantItem {
    max-width: 400px;
    min-width: 350px;
    background-color: blanchedalmond;
    margin: 30px 10px;
    padding: 30px;
    border: 4px solid black;
    box-shadow: 2px 2px 20px orangered;
    transform: rotate(3deg);
}

.restaurantItem:hover {
    border: 4px solid orange;
    border-radius: 5%;
}

.restaurantItem > * {
    transform: rotate(-3deg);
}

.restaurant-menu {
    display: none;
}

.menu-background-img {
    width: 100%;
}
