* {
    /* border: 2px dotted red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
}

header {
    width: 100%;
    padding: 5px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: orange;
}

h1 {
    color: blanchedalmond;
}

.title-header {
    /* float: left; */
}

.location-header {
    /* float: right; */
}

.location-button {
    /* float: right; */
}

.sticky-sidebar {
    position: fixed;
    top: -90px;
    right: 0;
    height: calc(100vh + 90px);
    width: 200px;
    background-color: whitesmoke;
    padding: 0 28px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
}

.sidebar-text {
    text-align: center;
    margin: 5px 0;
}

.sidebar-number {
    font-size: 36px;
}

.sidebar-total {
    background-image: url("images/bag-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    width: 103px;
    padding-top: 50px;
    color: white;
}

.sidebar-button {
    background-color: black;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
}

.main-content-box {
    padding-right: 200px;
}

.main-page {
    /* display: none; */
}

.restaurant-menu {
    display: none;
}

.menu-background-img {
    width: 100%;
}
