
* {
    /* border: 2px dotted red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 5px 30px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: orange;
    z-index: 6;
}

header > * {
    z-index: 7;
}

header::after {
    position: absolute;
    content: " ";
    display: block;
    left: -30%;
    bottom: -50px;
    transform: rotate(-2deg);
    width: 150%;
    background-color: black;
    z-index: 0;
    height: 90px;
}

h1 {
    color: orange;
    font-style: italic;
}

h2 {
    margin-bottom: 0;
    font-style: italic;
    font-weight: lighter;
    font-family: garamond;
    font-size: 30px;
}

h3 {
    width: 100%;
    font-size: 28px;
    font-style: italic;
    text-align: center;
}

h4 {
    font-size: 20px;
    margin-bottom: 0;
}

h5 {
    font-size: 18px;
    margin: 0;
    border-bottom: 2px solid;
}

button {
    border: none;
    background-color: orange;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

.location-header {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.location-button {
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.location-button:hover {
    background-color: black;
    color: orange;
    border: 1px solid orange;
}

.sticky-sidebar {
    position: fixed;
    top: -90px;
    right: 0;
    height: calc(100vh + 90px);
    width: 200px;
    background-color: blanchedalmond;
    padding: 0 28px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 5;
}

#clickme {
    background-color: darkorange;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 70px;
}

#clickme:hover {
    background-color: black;
    color: darkorange;
}

.sidebar-text {
    text-align: center;
    margin: 5px 0;
}

.sidebar-number {
    font-size: 36px;
}

.sidebar-total {
    background-image: url("images/bag-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    width: 103px;
    padding-top: 50px;
    color: orange;
}

.sidebar-button {
    background-color: black;
    color: wheat;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
}

.sidebar-button:hover {
    background-color: orange;
    color: black;
}

.main-content-box {
    padding-top: 120px;
    padding-right: 200px;
}

.delete-and-replace-me {
    background-color: darkorange;
    height: 100vh;
    width: 100%;
    position: absolute;
    top: 0;
    z-index: 0;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: darkorange;
    min-height: 100vh;
}

.restaurant-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 350px;
    background-color: blanchedalmond;
    margin: 30px 10px;
    padding: 30px;
    border: 4px solid black;
    box-shadow: 2px 2px 20px orangered;
    transform: rotate(3deg);
}

.restaurant-item:hover {
    border: 4px solid orange;
    border-radius: 10px;
}

.restaurant-item > * {
    transform: rotate(-3deg);
}

.restaurant-order {
    background-color: darkorange;
    padding: 5px 10px;
    font-size: 15px;
    font-weight: bold;
}

.restaurant-order:hover {
    background-color: black;
    color: orange;
}

.restaurant-menu {
    position: relative;
}

.menu-background-img {
    width: 100%;
}

.restaurant-description-box {
    position: absolute;
    transform: rotate(3deg);
    top: 80px;
    left: -20px;
    padding: 10px 30px 30px 40px;
    color: black;
    background-color: blanchedalmond;
    box-shadow: 2px 2px 30px black;
    min-width: 400px;
    text-align: center;
}

.menu-form-box {
    padding: 30px;
    background-color: darkorange;
    position: relative;
    top: -5px;
    border-top: 3px solid;
}

.menu-items-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid;
    margin-bottom: 30px;

}

.menu-item {
    max-width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.item-desc {
    width: 100%;
    font-style: italic;
}

.item-quantity {
    background-color: blanchedalmond;
    border: 2px solid;
    height: 30px;
    width: 50px;
    font-weight: bold;
    text-align: center;
    margin: 10px;
    border-radius: 2px;
    font-size: 14px;
}

.menu-item > button {
    height: 30px;
    border-radius: 2px;
    background-color: black;
    color: orange;
    font-size: 14px;
}

.menu-item > button:hover {
    background-color: orange;
    color: black;
    box-shadow: 2px 2px 8px black;
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;    
    background-color: blanchedalmond;
    background-image: url("images/delivery-bike-icon.png");
    background-position: 90% 90%;
    background-repeat: no-repeat;
    background-size: 100px;
    display: flex;
    flex-direction: column;
    align-items: center; 
    box-shadow: 2px 2px 50px black;
    color: black;
    padding: 30px;
    border-radius: 2px;
    padding: 10px;
    overflow: auto;
    z-index: 8;
}

.modal-list-desc > li {
    margin-bottom: 8px;
}

.modal > button {
    background-color: darkorange;
    padding: 10px;
    margin: 10px;
}

.modal > button:hover {
    background-color: orange;
}