* {
    /* border: 2px dotted red; */
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

header {
    width: 100%;
    padding: 5px 30px;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: orange;
    z-index: 6;
}

header > * {
	z-index: 7;
}

header::after {
	position: absolute;
	content: " ";
	display: block;
	left: -30%;
	bottom: -50px;
	transform: rotate(-2deg);
	width: 150%;
	background-color: black;
	z-index: 0;
	height: 90px;
}

h1 {
    color: orange;
    font-style: italic;
}

h2 {
	margin-bottom: 0;
}

button {
    border: none;
    background-color: orange;
    color: black;
    border-radius: 6px;
    cursor: pointer;
}

.location-header {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.location-button {
    padding: 5px 10px;
    border: 1px solid black;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
}

.location-button:hover {
    background-color: black;
    color: orange;
    border: 1px solid orange;
}

.sticky-sidebar {
    position: fixed;
    top: -90px;
    right: 0;
    height: calc(100vh + 90px);
    width: 200px;
    background-color: blanchedalmond;
    padding: 0 28px;
    z-index: -1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    z-index: 5;
}

#clickme {
    background-color: darkorange;
    border: none;
    font-size: 14px;
    padding: 8px 12px;
    margin-bottom: 70px;
}

#clickme:hover {
    background-color: black;
    color: darkorange;
}

.sidebar-text {
    text-align: center;
    margin: 5px 0;
}

.sidebar-number {
    font-size: 36px;
}

.sidebar-total {
    background-image: url("images/bag-icon.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 128px;
    width: 103px;
    padding-top: 50px;
    color: orange;
}

.sidebar-button {
    background-color: black;
    color: wheat;
    border: none;
    border-radius: 6px;
    font-size: 14px;
    padding: 8px 12px;
    cursor: pointer;
}

.sidebar-button:hover {
	background-color: orange;
	color: black;
}

.main-content-box {
<<<<<<< HEAD
<<<<<<< HEAD
	padding-top: 90px;
	padding-right: 200px;
}

.main-page {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	padding: 30px;
	background-color: darkorange;
=======
    padding-top: 120px;
    padding-right: 200px;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: darkorange;
    min-height: 100vh;

>>>>>>> parent of 1433e00 (merging main down to mine)
}

.restaurant-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 350px;
    background-color: blanchedalmond;
    margin: 30px 10px;
    padding: 30px;
    border: 4px solid black;
    box-shadow: 2px 2px 20px orangered;
    transform: rotate(3deg);
}

.restaurant-item:hover {
    border: 4px solid orange;
    border-radius: 5%;
}

=======
    padding-top: 120px;
    padding-right: 200px;
}

.main-page {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    background-color: darkorange;
    min-height: 100vh;

}

.restaurant-item {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    min-width: 350px;
    background-color: blanchedalmond;
    margin: 30px 10px;
    padding: 30px;
    border: 4px solid black;
    box-shadow: 2px 2px 20px orangered;
    transform: rotate(3deg);
}

.restaurant-item:hover {
    border: 4px solid orange;
    border-radius: 5%;
}

>>>>>>> parent of 1433e00 (merging main down to mine)
.restaurant-item > * {
    transform: rotate(-3deg);
}

.restaurant-order {
	background-color: darkorange;
	padding: 5px 10px;
	font-size: 15px;
	font-weight: bold;
}

.restaurant-order:hover {
<<<<<<< HEAD
	background-color: black;
	color: orange;
=======
    background-color: black;
    color: orange;
}

.restaurant-menu {
    display: none;
<<<<<<< HEAD
>>>>>>> parent of 1433e00 (merging main down to mine)
=======
>>>>>>> parent of 1433e00 (merging main down to mine)
}

.menu-background-img {
    width: 100%;
}

.modal {
    background-color: black;
    border: 4px solid orange;
    position: fixed;
    box-shadow: 2px 2px 20px orangered;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 400px;
    box-shadow: 2px 2px 50px black;
    color: blanchedalmond;
    padding: 30px;
    border-radius: 2%;
}